*{
			margin: 0;
			padding: 0;
			text-decoration:none;
			list-style:none;
		}
.zhengti{
	width: 1440px;
	height: 4107px;
	border: solid 1px #000;
	margin:0 auto ;
	background: #F4F4F4;
}
.toubu{
	height: 147px;
	background: #FFFFFF;
	border-top: solid 6px #CF0000;
}
.toubu1{
	width: 1440px;
	height: 61px;
}

.toubu a{
	display: block;
	margin-top:24px ;
	margin-left: 220px;

}
.toubu1 ul{
	font-size: 12px;
	line-height: 24px;
	color: #858585;
	cursor:pointer;
	margin-top: -20px;
margin-right: 228px;

}

.toubu1 .q1{
		float:right;

}
.toubu1 .q2{
		float:right;

}

.toubu1 h2{

	margin-left: 298px;
}
.toubu2{
	width: 1160px;
	height: 42px;
	border-left: solid 2px #DEDEDE;
	margin-left: 278px;
	margin-top: -15px;
}
.toubu2 .w1{
	float: left;
	margin-left: 20px;
}
.toubu2 .w2{
	float: left;
	margin-left: 20px;
}
.toubu2 .w3{
	float: right;
	margin-right: 233px;
	margin-top: 5px;
}
.toubu2{
	font-size: 13px;
	inset-height: 18px;
}
.toubu1 h2{
	display: block;
	padding-left:83px;
	margin:0 ;
	font-size: 39px;
	color: #000;
	padding-top: 0px;
}
.toubu1 img{
	margin-top: 4px;
	float: left;

}
.daohang{
	width: 1440px;
	height: 63px;
	background:#F4F4F4 ;
}
.daohang1{
	width: 881px;
	margin: 0 auto;
}
.daohang1 a{
			font-size: 18px;
			font-family: 微软雅黑;
			color: #131313;
			padding-top: 18px;
			display: inline-block;
			height: 30px;
}
.daohang1 li{
	float: left;
}
.daohang1 .aa{
	margin-left: 50px;
}
.daohang1 a:hover{
 color: #C50000;
 border-bottom: solid 2px #C50000;
}
.banner{
	width: 1440px;
	height: 435px;
	background: url('image/banner.png') no-repeat;
}
.zazhi{
	width: 1440px;
	height: 537px;
	background: url('image/zazhibrijing.png');
}
	.zazhitou{
	width: 890px;
	height: 101px;

}
.zazhitou1{
	padding: 19px 0;
	height: 76px;
	
}

.zazhitou1 h2{
	display: block;
	height: 38px;
	float: left;
	margin-left: 273px;
	padding-left: 19px;
	font-size: 36px;
	line-height: 38px;
  border-left: solid 7px #EA5413;

}

.zazhitou1 span{
	font-size: 24px;
	color: #6B6B6B;
  line-height: 38px;
	margin-top: 43px;
	margin-left: 10px;
}
.zazhineirong{
	position: relative;
}
.zazhineirong h3{
	display: block;
  font-size: 20px;
  color:  #fff;
  line-height: 40px;
  width: 256px;
	height: 37px;
	background: #6B6B6B;
	border-radius: 16px;
	text-align: center;
	margin-left: 290px;
	position: relative;
}
.zazhineirong span{
	display: block;
width: 43px;
height: 43px;
color:  #fff;
background:#FF0000;
border-right: solid 2px #fff;
border-radius: 50%;
text-align: center;
position: absolute;
top: -2px;
right: 230px;
}
.zazhineirong h3:hover span{
	background: #6B6B6B;
}
.zazhineirong h3:hover  {
	background:#FF0000;
}

.zazhineirong .zi{
	margin-top: 20px;
}
.zazhineirong ul:hover .zazhiwenzi{
display: block;
}
.zazhiwenzi{
	display: none;
	width: 890px;
	height: 178px;
	background: url('image/文字背景.gif') no-repeat;
	opacity: .7;
	margin-top: 1px;
	position: relative;
	top: 9px;
	left: 269px;
	z-index: 99;
}
.zazhiwenzi p{
   display: block;
  width: 831px;
	height: 110px;
  text-indent: 2em;
	font-size: 14px;
	font-family:宋体;
	line-height: 24px;
	margin-left: 28px;
	padding-top: 27px;
}
.zazhineirong img{
	margin-left: 1px;

position: absolute;

left: 682px;
top: -23px;
}



.wangzhan{
	width: 1440px;
	height: 510px;
	background: url('image/wangzhanbeijing.png');
}

.wangzhan .heise{
	width: 826px;
	height: 348px;
	background: #000000;
	margin-left: 333px;
	

}
.tu1,.tu2 {

	position: relative;
}
.heise .tu1{
	float: left;
	margin-left: 96px;
}
.heise .tu2{
	float: left;
	margin-left: 44px;
}
.heise .tuq{
	margin-top: 60px;
}
.heise .tuw{
	margin-top: 37px;
}
.wenzi{
	display: none;
	width: 359px;
	height:140px ;
	background: url('image/wangzhanwenzibeijing.png');
position: absolute;
top: -134px;
left: 75px;
}
 .wenzi h3{
	font-size: 16px;
	color: #668EB1;
	line-height: 43px;
  margin-left: 24px;
}
.wenzi p{

	width:324px ;
	height:52px ;
	font-size: 14px;
	color: #616161;
	text-indent: 1em;
	line-height: 16px;
	margin-left: 23px;
}
.wangzhan li:hover .wenzi{
display: block;
}

.yingshi{

	width: 1440px;
	height: 500px;
	background: url('image/yingshibeijing.png');
}
.yingshineirong{
	margin-left: 411px;
	
}

.yingshineirong li{
 border: solid 17px #EAEAEA;
 width: 269px;
}
.yingshineirong li:hover{
	padding:1px ;
	background: #fff;
	border-color: #E0DDDD;
	border-width: 16px;
}

.yingshineirong .www{
	position: relative;
}

.yingshiwenzi{
	display: none;
	padding-top: 36px;
	padding-right: 15px;
	width: 437px;
	height: 345px;
	padding-left: 12px ;
	background: url('image/xingshiwenzi.png');
	position: absolute;
	top: -26px;
	left: 308px;
}
.yingshi  li:hover .yingshiwenzi{
display: block;
}
.yingshi img{
display: block;
}
.yingshiwenzi img{
	margin-left: 32px;
	float: left;
	margin-right: 30px;
	padding-bottom: 21px;
	
	
}

 .yingshiwenzi p{
font-size:14px ;
line-height: 24px;
font-family: 宋体;
color: #000000;
}
.clearfix::after {
			content: '';
			display: block;
			clear: both;}

.xinmeiti{
	width: 1440px;
	height: 494px;
	background: url('image/xinmeiti背景.png');
	
}
.fangkuang{
	width: 188px;
	height: 55px;
	background: #20939C;
	border-radius: 10px;
	color: #fff;
	line-height: 23px;
	text-align: center;
}
.fangkuang h4{
	padding-top: 8px;
	font-size: 18px;
}
..fangkuang p{
	font-size: 16px;
}
.erweimatu{
	position:absolute;
}
.erweimatu img{
	padding-bottom: 10px;
	padding-top: 11px;
}
.er1{
	margin-left: 270px;
	float: left;
}
.er2{
	margin-left: 50px;
	float: left;

}
.xmtwenzi{
	width:330px ;
	height:285px ;
	background: url('image/xinmeitiwenzi.png') no-repeat;
  position: relative;
  left: 190px;
  top: -249px;
  display: none;
}
.xinmeiti  li:hover .xmtwenzi{
display: block;
}

.xmtwenzi p{
	width: 286px;
	height: 184px;
	font-size: 14px;
	color: #212121;
  line-height: 24px;
  text-indent: 2em;
  margin-left: 19px;
  padding-top: 26px;
}
.yingxiaoguwen{
	width:1440px ;
	height: 535px;
	background: url('image/yingxiaobeijing.png');
}



.zazhitou11{
	padding: 19px 0;
	height: 76px;
	
}

.zazhitou11 h2{
	display: block;
	height: 38px;
	float: left;
	margin-left: 273px;
	padding-left: 19px;
	font-size: 36px;
	line-height: 38px;
  border-left: solid 7px #EA5413;
  color: #fff;

}

.zazhitou11 span{
	font-size: 24px;
  color: #fff;
  line-height: 38px;
	margin-top: 43px;
	margin-left: 10px;
}
.yxneirong{
	margin: 0 auto;
	width: 891px;
	height: 269px;
	background: url('image/YUONGXIAO.png') no-repeat;
}
.yxneirong h3{
	padding-bottom:21px;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	margin-left: 187px;
}
.yxneirong p{
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	margin-left: 187px;
	text-indent: 2em;
	
}


.zazhitou111{
	padding: 19px 0 0;
	height: 37.9px;
	
}

.zazhitou111 h2{
	display: block;
	height: 37px;
	float: left;
	margin-left: 273px;
	padding-left: 19px;
	font-size: 36px;
	line-height: 38px;
  border-left: solid 7px #EA5413;
  color: #000;

}

.zhidao{
	width:1440px ;
	height: 880px;
	background: #D9E0E5;
}

.zdjg{
	width: 887px;
	margin: 0 auto;
}
.zdjg .zd1{
	width:126px ;
	height: 34px;
	background: #fff;
	border-radius: 10px;
	float: left;

}

.zdjg .zd1 h4{
font-size: 14px;
line-height: 34px;
color: #000;
text-align: center;
}

.mugong .r11 {
	
	width: 353px;
	height: 60px;
	font-size: 14px;
	color: #000000;
	background: #fff;
	padding-top:17px ;
 line-height: 24px;
 border-radius: 10px;
 float: left;
}
.r11 h3{
	margin-left: 92px;
}
.r11 p{
	margin-left: 98px;
}
.r44{
	margin-top: -60px;
	margin-left: 22px;
}


.r33{
	margin-left:33px ;
}
.mugong .r22{
	margin-left:22px ;
}
 .h2{

 }











.dibu11{
	width: 1440px;
	height: 93px;
	background: #000;
margin: 0 auto;
}
.dibu11 p{
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	text-align: center;

}

.hz{
	width: 887px;
	height: 46px;
	margin: 0 auto;
}
.dy{
	width:126px ;
	height: 34px;
	background: #fff;
	border-radius: 10px;
	float: left;
	margin-top: 25px;
}
.dy h4{
	font-size: 14px;
 line-height: 34px;
 color: #000;
 text-align: center;
}


.xinlangtu{

	
	height: 50px;
	float: left;
}
.xinlangtu .rtyu{
	width:100px;
	height: 51px;
	float: left;
	margin-top: 13px;
	margin-left: 35px;
}
.xinlangtu .rtyu2{
	width:100px;
	height: 51px;
	float: right;
	margin-top: 13px;
	margin-left: 34px;
}

.jt{
	width: 887px;
	height: 129px;
	margin: 0 auto;
		position: relative;
}
.qe{
	width:126px ;
	height: 34px;
	background: #fff;
	border-radius: 10px;
	margin-top: 33px;
}
.qe h4{
	font-size: 14px;
 line-height: 34px;
 color: #000;
 text-align: center;
}
.wenziiiiii{
	
	width: 475px;
	height: 127px;
	background: url('image/qqwwee.png');
	position: absolute;
	top: 1px;
	left: 155px;

}
.wenziiiiii li{
	margin-left: 49px;
	font-size: 14px;
	color: #000;
	line-height: 24px;
}



 .wenziiiiii .wen1{
	padding-top: 17px;
}
.fznr{
	width: 893px;
	height: 427px;
	margin: 0 auto;


}
.dttt{
	float: left;

}
.dizhi{
	float: left;
	margin-left: 110px;
	margin-top: 51px;
}
.dizhi .di1{
	width: 356px;
	height: 182px;
	background: #F2F2F2;
	border-top: solid  30px #262626;
}
.di1 h3{
font-size: 14px;
color: #fff;
line-height: 30px;
margin-top: -30px;

font-family:宋体;
margin-left: 14px;
}
.w11{
	width: 310px;
	height: 55px;
	border-bottom: dashed 1px #979797;
	margin: 0 auto;
}
.w12{
	width: 310px;
	height: 58px;
	border-bottom: dashed 1px #979797;
	margin: 0 auto;
}
.w13{
	width: 310px;
	height: 56px;
	border-bottom: dashed 1px #979797;
	margin: 0 auto;
}
.w11,.w12,.w13 p{
color: #000;
font-size: 12px;
line-height: 19px;
}
.lxw{
	width:356px;
	height: 163px;
	background: #F2F2F2 ;
	margin-top: 12px;
	padding-top: 16px;
}
.lxw li{
	font-size: 14px;
	color: #0C0C0C;
	line-height: 24px;
	margin-left: 39px;

}